ignorePatterns:
  - "/*/build"
env:
  browser: true
  es2021: true
settings: {
  react: {
    version: 'detect'
  },
  import/resolver: {
    node: {
      extensions: [
        ".ts",
        ".tsx"
      ]
    }
  }
}
extends:
  - eslint:recommended
  - plugin:react/recommended
  - plugin:react/jsx-runtime
  - plugin:@typescript-eslint/recommended
  - plugin:@typescript-eslint/eslint-recommended
  - plugin:prettier/recommended
  - plugin:import/recommended
  - plugin:import/typescript
parser: '@typescript-eslint/parser'
parserOptions:
  ecmaFeatures:
    jsx: true
  ecmaVersion: 2021
  sourceType: module
plugins:
  - react
  - react-hooks
  - import
  - prettier
  - '@typescript-eslint'
rules: {
  "react/display-name": 'off',
  "react-hooks/exhaustive-deps": 'warn',
  "react-hooks/rules-of-hooks": 'error',
  "@typescript-eslint/no-explicit-any": 'off',
  "sort-imports": [
    "error",
    {
      "ignoreCase": false,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": [ "none", "all", "multiple", "single" ],
      "allowSeparatedGroups": true
    }
  ],
  "import/no-named-as-default-member": 'off',
  "import/no-unresolved": 0,
}
