.App {
  width: 100%;
  height: 100vh;
  background-color: #6ACDFF;
  background-image: url('bg.png');
  background-repeat: repeat;
  background-size: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.secret {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form {
  width: 500px;
}

.form input {
  background-color: rgba(250, 249, 247, .6);
}

.form button {
  margin-top: 40px;
  width: 100%;
}

.question {
  white-space: pre-line;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(216, 116, 0, .6);
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: darkblue;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

@media (max-width:450px)  {
  .App {
    background-repeat: no-repeat;
  }

  .form {
    width: 90%;
    margin: 10px;
  }

  .key, .key span {
    max-width: 50px;
    max-height: 50px;
    font-size: 30px;
  }

  .secret {
    width: 90%;
    gap: 5px;
  }

  .question {
    width: 90%;
    height: auto;
    font-size: 22px;
  }
}

@media (max-width:300px)  {
  .form {
    width: 90%;
    margin: 10px;
  }

  .key, .key span {
    max-width: 30px;
    max-height: 30px;
    font-size: 18px;
  }

  .secret {
    gap: 2px;
  }
}


